// https://medium.com/better-programming/using-css-modules-with-create-react-app-without-ejecting-6ceef85194e
// https://blog.bitsrc.io/how-to-use-sass-and-css-modules-with-create-react-app-83fa8b805e5e
.list {
  margin: 0;
  padding: 0;
}

.item {
  display: flex;
  margin-bottom: 1rem;
}

.imgWrapper {
  min-width: 100px;
  max-width: 100px;
  height: 100px;
  margin-right: 1rem;
  border: 1px solid #ccc;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {

}

.name {
  font-size: 16px;
  font-weight: 700;
}

.year {
  margin-bottom: .5rem;
  color: gray;
}

.comment {
  margin-bottom: .25rem;
}

.count {
  color: gray;
}
